body {
  margin: 0;
  padding: 0;
}

#book-container {

}

#book-container div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  padding: 10px 30px;
}

#book-container div:nth-child(even) {
  background-color: #eee;
}