body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
}

#new-book-form {
  margin-top: 30px;
  text-align: center;
}

#add-book-btn {
  margin-top: 20px;
}

#book-container-header {
  margin-top: 100px;
  font-weight: bold;
}

#book-container >  div, #book-container-header {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  text-align: center;
}

#book-container div:nth-child(odd) {
  background-color: #eee;
}

#book-container p {
  padding: 10px 50px;
  font-size: 0.9rem;
}

#book-container p:nth-child(4) {
  text-decoration: underline;
}

#new-book-btn {
  margin: 30px 50px;
  padding: 10px 20px;
  font-weight: bold;
  color: #333;
  background-color: lime;
  border: 1px solid #fff;
}