body {
  margin: 0;
  padding: 0;
}

#book-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
}

#book-container div {
  width: 300px;
  height: 300px;
  text-align: center;
  border: 1px solid #000;
}